#in project's root

$ cat .gitignore

*~     # no files with ending ~
*.htc
*.log
*.sql

/vendor
.env
/NOTES
/tests
/node_modules

artisan
server.php
phpunit.xml
.gitattributes
composer.lock

/bootstrap/compiled.php
/app/config/database.php
