#in project's root

$ cat .gitignore

*~     # no files with ending ~
*.htc
*.log
*.sql

/vendor
.env
/NOTES
/tests
/node_modules

.gitattributes
phpunit.xml
composer.lock

/bootstrap/compiled.php
/app/config/local/
/app/config/testing/
